body, html {
    margin: 0
}

body {
    background: #d1d5d6;
    font-family: Lato;
    font-size: 0;
    min-width: 560px;
    min-height: 421px;
    position: absolute;
    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box
}

*, *:before, *:after {
    box-sizing: inherit
}

.clear {
    clear: both
}

a {
    text-decoration: underline;
    color: black !important
}

#bg {
    height: 100%
}

#bg, #player, #albumart, progress, #seek, #main, #times, #controls {
    width: 100%
}

#player {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 560px;
    height: 421px;
    border-radius: 30px;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

#albumart {
    height: 256px;
    background: url('https://picsum.photos/id/59/560/256');
    background-size: 100% auto;
    background-position: center top
}

#albumart.unknown {
    background-image: none;
    background-color: #3A3543
}

#albumart.unknown:before {
    content: "\f025";
    display: block;
    width: 100%;
    font-family: FontAwesome;
    font-size: 230px;
    line-height: 275px;
    text-align: center;
    color: #5B5666
}

#volume {
    position: absolute;
    top: 0;
    right: -50px;
    height: 256px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.27)
}

#volume input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transform: rotate(270deg);
    position: absolute;
    left: -45px;
    top: 123px;
    margin: auto;
    padding: 0;
    height: 10px;
    width: 140px;
    background-color: transparent;
}

#volume input::-webkit-slider-runnable-track {
    border: none;
    background: rgba(255, 255, 255, 0.5);
    height: 10px;
}

#volume input::-moz-range-track {
    border: none;
    background: rgba(255, 255, 255, 0.5);
    height: 10px;
}

#volume input::-ms-track {
    border: none;
    color: transparent;
    background: transparent;
    height: 10px;
}

#volume input::-ms-fill-lower, #volume input::-ms-fill-upper {
    border: none;
    color: transparent;
    background: rgba(255, 255, 255, 0.5);
    height: 10px;
}

#volume input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 0;
    color: #3A3543;
    background: #3A3543
}

#volume input::-moz-range-thumb {
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 0;
    color: #3A3543;
    background: #3A3543
}

#volume input::-ms-thumb {
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 0;
    color: #3A3543;
    background: #3A3543;
}

#volume div {
    position: absolute;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 40px;
    text-align: center;
    cursor: pointer
}

#volume #plus {
    top: 10px
}

#volume #minus {
    bottom: 10px
}

#albumart:hover + #volume, #volume:hover, #volume.visible {
    right: 0
}

progress {
    position: absolute;
    height: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    z-index: 1;
    background-color: #d6d3d3;
    color: #ff4081
}

progress::-webkit-progress-bar {
    background-color: #d6d3d3
}

progress::-webkit-progress-value {
    background-color: #ff4081
}

progress::-moz-progress-bar {
    background-color: #ff4081
}

#seek {
    height: 4px;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    outline: none !important;
    margin: 0;
    z-index: 2
}

#seek::-webkit-slider-runnable-track {
    height: 4px;
    background: transparent;
    border: none
}

#seek::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    width: 1px;
    height: 4px
}

#seek::-moz-range-track {
    height: 4px;
    background: transparent;
    border: none
}

#seek::-moz-range-thumb {
    border: none;
    background: transparent;
    width: 1px;
    height: 4px
}

#main {
    height: 161px;
    margin-top: 4px;
    background-color: white
}

#times {
    height: 29px;
}

#current, #total {
    margin: 5px 10px;
    font-size: 16px;
    color: #6c7078
}

#current {
    float: left
}

#total {
    float: right
}

#controls {
    margin-top: 20px
}

#playpause, #trackinfo, #buttons {
    display: inline-block;
    vertical-align: top
}

#playpause, #trackinfo {
    float: left
}

#playpause {
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    margin-left: 31px;
    background-color: #3A3543;
    background-image: url(../img/play.png);
    background-position: 29px center;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: box-shadow .2s
}

#playpause.pause {
    background-image: url(../img/pause.png);
    background-position: center center
}

#playpause:hover {
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75)
}

#trackinfo {
    margin-left: 18px;
    width: 280px
}

#track, #artist {
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text
}

#track {
    font-size: 38px;
    color: #6c7078
}

#artist {
    font-size: 23px;
    color: #babfcc;
    font-weight: 400
}

#buttons {
    float: right;
    margin-right: 30px;
    line-height: 34px;
    height: 34px;
    margin-top: 11px
}

#repeat, #rewind, #forward {
    display: inline-block;
    cursor: pointer;
    background-image: url(../img/spritesheet.png);
    vertical-align: top;
    background-color: #B9BCC9;
    transition: background-color .2s
}

#repeat:hover, #repeat.active, #rewind:hover, #rewind.active, #forward:hover, #forward.active {
    background-color: #3A3543
}

#rewind, #forward {
    border-radius: 50%;
    width: 34px;
    height: 34px
}

#repeat {
    background-position: 0 0;
    width: 33px;
    height: 34px
}

#rewind {
    background-position: -34px 0;
    margin-left: 10px
}

#forward {
    background-position: -65px 0;
    margin-left: 7px
}

.shadow {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 120px;
    bottom: 0;
    width: 360px;
    height: 111px;
    box-shadow: 0px 10px 111px 70px rgba(0, 0, 0, 0.75);
    z-index: -5
}

#loading {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #d1d5d6;
    opacity: 1;
    z-index: 99;
    transition: opacity .3s;
    font-size: 70px;
    font-weight: 100;
    text-align: center;
    line-height: 500px;
}

#loading.hidden {
    opacity: 0;
    pointer-events: none
}

input[type=file] {
    display: none
}

#load-song, #credits, #tested {
    position: absolute;
    font-size: 11px;
    margin: 2px
}

#load-song div {
    text-decoration: underline;
    cursor: pointer
}

#load-song, #credits {
    text-align: right;
    right: 0
}

#tested, #credits {
    bottom: 0
}